.navigation td{
	text-align: center;
}

.navigation th{
	text-align: center;
}
	
.title {
  text-align: center;
}

    table {
      width: 100%;
      border-collapse: collapse;
    }

    th, td {
      border: dashed;
      padding: 8px;
      text-align: justify;
    }

    tbody #main{
    	width: 60%;
    }

    tbody #secondary{
    	width: 40%;
    }

   .cell_1 img {
      width: 60px; 
      height: 60px;
    }

    #pir1, #pir3 {
      float: left;
      margin: 10px;
    }

    #pir2{
      float: right;
      margin: 10px;
    }

    .cell_2 img{
    	width:150px;
    	height:150px;
    	margin: 10px;
    }

    #pir4{
    	position: absolute;
    	right: 15%;
    	top: 40%;
      z-index: 1;
    }


    #pir5{
    	position: absolute;
    	right: 10%;
    	top: 25%;
    	z-index: 2;
    }


    #pir6{
    	position: absolute;
   		right: 10%;
    	top: 55%;
    	z-index: 3;
    }